    <div class="bottomMsg">
       
        <ul class="footer_me">
            <li>轻博客，SoftBlog。不只是一个博客。</li>
            <li><a href="">广告合作</a> - 站长邮箱：</li>
            <li><a href="" target="_blank">新浪微博</a>：<a href="" 
target="_blank"></a>
</li>
            <li><a href="">Sitemap</a> | phper一枚，小phper一枚</li>
            <li>
                <a href="">php开发</a> 
                <a href="">轻博客</a>
            </li>
            <li>2011-3011  &copy; qingguow.cn <a href="javascript:;" onclick="paysentsin()">友情赞助</a></li>
        </ul>
        <ul class="ul footerLiuyan" id="liuyan"></ul>
        <em id="eig_top"><i class="icon_old"></i>TOP</em>
    </div>
    <script src="__PUBLIC__js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    $('.iconf_caidan').click(function(){
        if($('.xunav').css('display')=='block'){
            $('.xunav').hide();
        }else{
            $('.xunav').show();
        }
        
    });
    $('#eig_top').click(function(){
        $('body,html').animate({
            scrollTop:0,
        },1000);
    });


</script>