@charset "utf-8";
.timeline .arrow_line {
	background: #9B9B9B;
}
.xulogo{
	width: 140px;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
	font-family: "Microsoft Yahei";
	font-size: 30px;
	font-weight: normal;
}
.xulogo em{
	font-style: italic;
	font-size: 25px;
}
media="all" @media screen and (max-width: 640px)
.xulogo, .xucard, .xuheader_yuan, .xuheader_Bg, .timeline_textH2 i, .timeline .timeline_right .layuibox .switch, .footer_logo, #eig_top {
	display: none;
}
.pages{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1);
	clear: both;
	font-family: Georgia;
	border: 1px solid #CFCFCF;
	line-height: 40px;
}
.pages div{
	padding:0 10px;
	line-height: 40px;
}
.pages a{
	display: block;
	margin: 10px 5px 0 0;
	color: #737373;
	background: #fff;
	border: 1px solid #CFCFCF;
	float: left;
	text-align: center;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	text-decoration: none;
}
.pages .current{
	display: block;
	padding: 0 10px;
	float: left;
	height: 20px;
	line-height: 20px;
	margin: 10px 5px 0 0;
	color: #7f2703;
}
.xufooter{
	border: none;
	background: none;

}
.bottomMsg{
	background: #fff;
	border: 1px solid #CFCFCF;
}
.xutop::before {
content: '轻博客';

}
@media screen and (max-width: 640px)
.xunav {
	display: block;
}
.timeline_content .timeline_text{
	padding: 15px 10px;
}
.timeline_right .timeline_desc p{
	margin-bottom: 5px;
}
.timeline_desc div a, .timeline_desc p a{
	text-decoration: none;
}
.timeline_desc p.reply{
	color: #737373;
}
/*评论框*/
.commentBox{

}
.commentBox .write{
	width: 100%;
	height: 240px;
	overflow: hidden;
}
.commentBox .write .avator{
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	float: left;
}
.commentBox .write form{
	width: 500px;
	float: right;
	position: relative;
}
.commentBox .write form textarea{
	width: 470px;
	height: 100px;
	border: 2px solid #ccd4d9;
	border-radius: 2px;
	padding: 4px 0 0 4px;
	background-color: #fff;
	display: block;
}
.commentBox .write form .sub{
	border: none;
	background: #45B6F7;
	border: 2px solid #45B6F7;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
}
.commentBox .write form .label{
	width: 315px;
	margin: 0 auto;
	color: #777
}
.commentBox .write form .label .inp{
	width: 210px;
	padding: 3px 5px;
	border: 2px solid #ccd4d9;
	margin: 5px 10px 10px 0;
	
}
.commentBox .item{
	width: 100%;
	border-bottom: 1px #eee solid;
}
.clear{
	clear: both;
}
.commentBox .item .avator{
	width: 36px;
	height: 36px;
	float: left;
}
.commentBox .item .avator img{
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.commentBox .item .content{
	width: 470px;
	float: left;
	margin-left: 10px;
	color: #888;
}
.commentBox .item .content .info{
	font-size: 12px;
	color: #bbb;
}
.commentBox .item .reply{
	color: #888;
	padding-left: 46px;
}
.commentBox .item .reply .red{
	color: #080;
}

.commentBox .item .floor{
	width: 20px;
	float: right;
	color: #555;
}