<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<title>ThinkShop电子商务系统</title>
		<include file="Common:js"/>
	</head>
	<body>

<div class="wrap">
    <div class="search">

        <form class="hd-form">
        商品类型 :
        <select name="flag" class="w100 searchAttr">
            <option value="{:U('Attribute/index')}">全部</option>
            <foreach name="types" item="v">
            <option value="{:U('Attribute/index',array('type_id'=>$v['id']))}" <if condition="$_GET['type_id']==$v['id']">selected="selected"</if>>{$v.name}</option>
            </foreach>
        </select>
        </form>
    </div>
    <div class="menu_list">
        <ul>
            <li><a href="{:U('Attribute/index')}" class="action">属性列表</a></li>
            <li><a href="{:U('Attribute/add')}">添加属性</a></li>
        </ul>
    </div>
    <table class="table2 hd-form">
        <thead>
        <tr>
            <td class="w30">编号</td>
            <td class="w200">名称</td>
            <td class="w200">所属类型</td>
            <td class="w150">操作</td>
        </tr>
        </thead>
            <foreach name="list" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td>{$v.type_name}</td>
                <td>
                    <a href="{:U('Attribute/update',array('id'=>$v['id']))}">修改</a> 
                    <span class="line">|</span> 
                    <a href="{:U('Attribute/delete',array('id'=>$v['id']))}">删除</a>
                </td>
            </tr>
            </foreach>
            </table>
    <div class="page1">{$page}</div>
    <div class="h60"></div>
</div>
	</body>
</html>
<script>
    $('.searchAttr').change(function(){
        window.location.href=$(this).val();
    });
</script>