/*扩展样式*/
div.page1 .current{
    display: block;
    padding: 3px 10px;
    font-size: 12px;
    float: left;
    background:#488FCF;
    border: 1px solid #dcdcdc;
    color: #FFFFFF !important;
}
.thumbShow{
    border: 1px solid #ccc;
    padding: 2px;
    display: block;
    max-width: 200px;
}


/*搜索框*/
div.search {
    border: 1px solid #FFBE7A;
    background: none repeat scroll 0 0 #FFFCED;
    line-height: 20px;
    padding: 8px 10px;
}

table tr td p {
    line-height: 1.5em !important;
}

/*logo文字*/
div.nav div.top_menu{
    background: none;
    padding-left: 0;
}
div.nav div.top_menu .main_logo{
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    float: left;
    text-align: center;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    font-weight: normal;
}
