<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>青果轻博客</title>
<include file="Common:header"/>
</head>
<body>
<div class="xutop"><i class="iconfont iconf_caidan">&#xe601;</i></div>
<include file="Common:nav"/>
<div class="box_index xuheader">
    <div class="shadow xuheader_Bg"></div>
    <a href="" title="轻博客" class="xulogo" target="_self">轻博客<em>SoftBlog</em></a>
    <div class="xucard">
        <p>你瞧那远古的光 裸露空荡</p>
        <p>无穷无尽是你深邃的眼 传递遐想 </p>
        <p style="margin-top: 8px;">——《远与暗》 写于2015·夏·济南</p>
    </div>
    <div class="icon_layer xuheader_yuan"></div>
</div>
    <div class="box_index timeline clearfix">
        <ul class="clearfix timeline_left">

        <foreach name="commentLeft" item="v">
    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
            	<p>{$v['content']}</p>
                <div class="line"></div>
                <p class="reply">管理员: <if condition="$v['reply']">{$v['reply']}<else/>未回复</if></p>

                <div class="timeline_tips"><span class="timeline_time">{:timeFormat($v['addtime'])} 来自轻博客(SoftBlog)</span><span class="timeline_ready"><a href="{:U('Index/detail',array('id'=>$v['article_id']))}"><i class="icon_timeline" title="查看"></i>查看文章</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>
    	</foreach>

  
</ul>
<ul class="timeline_right timeline_weibo">

	<foreach name="commentRight" item="v">
    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>{$v['content']}</p>
                <div class="line"></div>
                <p class="reply">管理员: <if condition="$v['reply']">{$v['reply']}<else/>未回复</if></p>
                
                <div class="timeline_tips"><span class="timeline_time">{:timeFormat($v['addtime'])} 来自轻博客(SoftBlog)</span><span class="timeline_ready"><a href="{:U('Index/detail',array('id'=>$v['article_id']))}"><i class="icon_timeline" title="查看"></i>查看文章</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  
    </foreach>

    
</ul>



        <div class="c"></div>
    	<span class="arrow_line"><i id="add_event_plus" class="icon_timeline spine_plus"></i></span>

</div>



<div class="box_index shadow xufooter">
	<div class="pages">
	{$page}
	</div>

    <include file="Common:footer"/>
</div>

</body>
</html>




