<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>青果轻博客</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="http://res.sentsin.com/css/xu.css" media="all">
<link href="http://res.sentsin.com/css/weibo.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="xutop"><i class="iconfont iconf_caidan">&#xe601;</i></div>
<div class="box_index xunav">
    <a href="http://sentsin.com" >首页</a><a href="http://sentsin.com/mood/">轻微博</a><a href="http://sentsin.com/web/">前端开发</a><a href="
http://sentsin.com/literary/" >闲心集</a><a href="http://sentsin.com/message/" title="留言">致时光</a><a href="http://sentsin.com/daohang/">前端江湖录</a>
</div>
<div class="box_index xuheader">
    <div class="shadow xuheader_Bg"></div>
    <a href="/" title="贤心博客" class="xulogo" target="_self"><img src="http://res.sentsin.com/images/logo.png" alt="贤心博客"></a>
    <div class="xucard">
        <p>你瞧那远古的光 裸露空荡</p>
        <p>无穷无尽是你深邃的眼 传递遐想 </p>
        <p style="margin-top: 8px;">——《远与暗》 写于2012·春·杭州</p>
    </div>
    <div class="icon_layer xuheader_yuan"></div>
</div>
    <div class="box_index timeline clearfix">
        <ul class="clearfix timeline_left">

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <p>
	回望js这20年，从一出蛋就抱Java的大腿，到沦为浏览器的玩物。再到千禧5年，谷歌地图对Ajax大量运用，随后几年又推出了V8，一度引发js引擎的竞赛，很快Nodejs又诞生，与此同时，标准化的环境正加速促使着这只天鹅的成型，终于在2014年登顶，一飞冲天。这样的传奇，大概连Brendan Eich都万万没有想到吧。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/228.html"><img alt="JavaScript这20年" src="http://t0.fansimg.com/uploads2010/11/userid260048time20101101231857.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年04月29日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/228.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/228.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <div>
	最近特么的总是有这种心态：觉得自己很屌，不应该帮别人打工，而应该快点做出属于自己东西，证明自己！ 而且对世俗叛逆。。。总是有一种与人群格格不入的超然。。。喜欢个体的寂寞，而不喜欢大众的狂欢。。。这尼玛是不是醉了。。</div>
<div>
	&nbsp;</div>
                <p style="text-align:center"><a href="http://sentsin.com/mood/227.html"><img alt="喜欢个体的寂寞，而不喜欢狂欢" src="http://photos.tuchong.com/105042/f/2446081.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年04月29日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/227.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/227.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <p>
	两年前买了辆车，一直开到今年，原本觉得该换辆了吧，没想到今天在文二路，一辆黑色的奥迪A6好像很屌的样子，抢我前面，副驾驶的女的还特地往后瞄了一眼，我不爽了，立马开启电力加速，直接把它秒开了整条街。跟哥比速度，不识相了吧！我抖了抖身姿，看了下电量，尼玛，红线&hellip;这该死的绿源！</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/226.html"><img alt="两年前买了辆车" src="http://car0.autoimg.cn/upload/spec/12129/v_2012032018274389581.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年04月10日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/226.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/226.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <p>
	在那个被IE统治的黑暗时代，Firefox的横空出世给整个行业带来了一次前所未有的曙光，小狐狸日夜兼程奔向新的王国，然而当它接近巅峰的时候，它却摔了一个跟头。又一匹黑马Chrome从天而降，它脚踏着坠落的狐狸，用类神话的速度给IE重重一击，Chrome成为新的统治者，而火狐却已年迈，越走越远越走越远&hellip;</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/225.html"><img alt="Chrome成为新的统治者，而火狐却已" src="http://static.oschina.net/uploads/img/201503/30072847_z6ED.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年04月03日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/225.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/225.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <p>
	梦可以多次破碎，但是心不能丢失。偶然翻到了去年今天写的一篇文章，结尾在现在看来，还是略叫人触动的：&ldquo;对于那些保持激情的年轻互联创业者而言，尽快抢占自己应有的城池，和创造着形形色色的生态圈，才真正对得起如此美好的时代。<a href="http://qd.jiaju.sina.com.cn/news/20140331/353951.shtml" style="color: rgb(51, 51, 51); text-decoration: none;  padding: 0px 5px; white-space: nowrap; display: inline-block; border-radius: 2px; height: 20px; line-height: 21px; min-width: 28px; border: 1px solid rgb(217, 217, 217); margin: 0px 2px; vertical-align: middle; color: rgb(235, 115, 80);">网页链接</a></p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/224.html"><img alt="梦可以多次破碎，但是心不能丢失" src="http://d05.res.meilishuo.net/pic/_o/c9/12/443a9863cf23a12b48a0178d8312_1024_768.c1.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年03月30日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/224.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/224.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <p>
	华星路，三年前就已经熟悉的老地方，三年后，我又深藏在这里，在另一座陈旧的大厦，沉淀或妥协或挣脱。在这条路上，阿里的身影早已不见，剩下的，是陆陆续续遇到了许多挖财的旧同事。世界是圆的，所以时常会进行一些阶段性的循环。这不该是原地踏步，应是曲线前进。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/223.html"><img alt="这不该是原地踏步，应是曲线前进" src="http://sn.people.com.cn/NMediaFile/2013/0221/LOCAL201302211814485854610016657.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年03月26日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/223.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/223.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <p>
	总想找回一些东西，那些内心深处被搁浅的追求，每每不经意间泛起，便隐隐作痛。回望这四年，疲于营生，我是否真的坚持了错误的坚持。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/222.html"><img alt="总想找回一些东西，那些内心深处被" src="http://cdn.duitang.com/uploads/item/201203/07/20120307000927_QKPC8.jpeg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年01月25日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/222.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/222.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc">
                <p>
	浮光掠影，镜花水月，漠然千愁。人生虚梦一场，初寐时、如经百世，惶惶不解红尘，郁郁向谁去。又寝时、朝夕毫厘，万般匆匆空成忆。</p>
<p>
	（下阙略）</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/221.html"><img alt="雨霖铃" src="http://img2.3lian.com/2014/c9/95/d/31.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年01月23日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/221.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/221.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>
  
</ul>
<ul class="timeline_right timeline_weibo">

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	生活中遇到许多似曾相识的过客，让你怦然心动，深觉这么近，却又那么远。就像是一束暖阳，你看到了，感觉到了，但却无法捕捉。而这些，往往在心底慢慢消散，直到下一个循环。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/220.html"><img alt="深觉这么近，却又那么远" src="http://pkimg.b0.upaiyun.com/upload/20130427/13fb4fd55adfee91cf214bc77123fa60.JPG"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2015年01月21日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/220.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/220.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	我现在身兼董事长/CEO/前端等多职于一身。目前公司只有我1人，公司名叫：闲心家里蹲（杭州）科技有限公司。上班，何必朝九晚五，何必规规矩矩束缚在指定区域。办公，就应随心而动。移动/家庭式办公，将是未来不可阻挡的潮流，而这历史的拥有者，将是：家里蹲集团。未来我若成为壕，你们千万不要羡慕我额。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/219.html"><img alt="移动/家庭式办公，将是未来不可阻" src="http://sentsin.qiniudn.com/sentsin342ac65c10385343e79bf6079113b07eca8088bb.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2014年12月09日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/219.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/219.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	写了三年多的前端，我竟不知这是为什么。。<img src="http://res.sentsin.com/images/q8.gif"></p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/218.html"><img alt="写了三年多的前端，我竟不知这是为" src="http://ww3.sinaimg.cn/mw1024/5db11ff4jw1emz52gfrozj20bh03dwes.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2014年12月05日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/218.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/218.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	光穿行在多元宇宙，从不逗留，也从不被捕获。即便被囚禁在黑洞，经过虫洞的时空轮回，也终在白洞重获新生。是不是意味着，光，才是唯一的永恒呢。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/217.html"><img alt="光，才是唯一的永恒吗" src="http://sentsin.qiniudn.com/sentsinguang.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2014年12月02日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/217.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/217.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	年轻人，请不要局限于小小的胜利，不要局限于追求安全与稳定的生活。请不断地挑战人生吧！在成百上千次的挑战中，将书写属于你的人生。即使失败很多，也不要气馁。满载着成功与失败的人生，正是你生命不息的证明。你毫不退缩、勇敢挑战的人生，也为旁人增加了生命的勇气。&mdash;&mdash;尼采</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/216.html"><img alt="请不断地挑战人生吧！在成百上千次" src="http://www.dshmama.com/uploads/allimg/120223/13-12022314554Va.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2014年12月01日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/216.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/216.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	心愿未了有牵绊。生命不息，折腾未止。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/215.html"><img alt="心愿未了有牵绊。生命不息，折腾未" src="http://www.fjdh.cn/UploadFiles/bnznews/2014/3/201403241514505327.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2014年11月27日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/215.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/215.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	未出生时，人被束缚在母体里；上学时，人被束缚在教室里；工作时，人被束缚在生存的无形枷锁里。死时，又把人束缚在棺木或者盒子里。人的一生，无论过程怎样，始终都抵不过这束缚的魔力。这就是人作为一个有思想意识的生命体，所无法挣脱的宿命。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/214.html"><img alt="人的一生，无论过程怎样，始终都抵" src="http://sentsin.qiniudn.com/sentsin9_214438_2.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2014年11月30日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/214.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/214.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  

    <li class="shadow timeline_content">
        <div class="timeline_text">
            <div class="timeline_desc"> 
                <p>
	关于奇点，我用感觉描绘过它，那是从一个被无限压缩的单元向四周拉伸，形成一个球体。在这里除了最基本的三维构造，还有以实体的形式存在的时间。因此，你从任意一个点，向任何一个方向出发，最终都可以回到那个点。星际穿越，仿佛就是梦的轮回。平行世界里没有他们，全是我们。</p>
                <p style="text-align:center"><a href="http://sentsin.com/mood/213.html"><img alt="星际穿越，仿佛就是梦的轮回" src="http://n.sinaimg.cn/transform/20141118/avxeafr4829659.jpg"></a></p>
                <div class="line"></div>
                <div class="timeline_tips"><span class="timeline_time">2014年11月19日 来自贤心轻微博</span><span class="timeline_comment"><a href="http://sentsin.com/mood/213.html#comment"><i class="icon_timeline" title="评论"></i>评论</a></span><span class="timeline_ready"><a href="http://sentsin.com/mood/213.html"><i class="icon_timeline" title="查看"></i>查看</a></span></div>
            </div>
        </div>
        <span class="arrow_bg"></span>
        <span class="icon_timeline arrow_dot"></span>
    </li>  
    
</ul><div id="fenye" class="plist" style="margin-top:6px;text-align:right;"><table border="0" align="right"><tr><td id="pagelist">
<a href="index_10.html" class="next">下一页</a><a href="index.html" class="prev">首 页</a> <a href="#" class="curr"><font color=red>1</font></a> <a class="num" href="index_10.html">2</a> <a class="num" href="index_9.html">3</a> <a class="num" href="index_8.html">4</a> <a class="num" href="index_7.html">5</a> <a class="num" href="index_6.html">6</a> <a class="num" href="index_5.html">7</a> <a class="num" href="index_4.html">8</a> <a class="num" href="index_3.html">9</a> <a class="num" href="index_2.html">10</a><a href="index_1.html" class="prev">末页</a> <span>总共<span id="totalpage">11</span>页</span></td></tr></table>
<script src="page20124478305699.html" type="text/javascript" language="javascript"></script>
<script language="javascript" type="text/javascript">pageinfo(4,16,'.html','index');</script></div>
        <div class="c"></div>
    	<span class="arrow_line"><i id="add_event_plus" class="icon_timeline spine_plus"></i></span>
    </div>
<div class="box_index shadow xufooter">
    <div class="bottomMsg">
        <a href="http://sentsin.com" class="footer_logo" title="贤心博客"><img src="http://res.sentsin.com/images/xin.gif"  alt="贤心" /></a>
        <ul class="footer_me">
            <li>贤心，自由职业者。这不是一个人的博客。</li>
            <li><a href="http://sentsin.com/web/197.html">广告合作</a> - 站长邮箱：xu@sentsin.com</li>
            <li><a href="http://weibo.com/SentsinXu" target="_blank">新浪微博</a>：<a href="http://weibo.com/SentsinXu" 
target="_blank">http://weibo.com/SentsinXu</a>
</li>
            <li><a href="http://sentsin.com/sitemap.xml">Sitemap</a> | 小众前端一枚，小众前端一枚</li>
            <li>
                <a href="http://say.sentsin.com">Say前端技术论坛</a> 
                <a href="http://sentsin.com/web/">前端开发</a> 
                <a href="http://sentsin.com/mood/">轻微博</a>
            </li>
            <li>2011-3011  &copy; sentsin.com <a href="javascript:;" onclick="paysentsin()">友情赞助</a></li>
        </ul>
        <ul class="ul footerLiuyan" id="liuyan"></ul>
        <em id="eig_top"><i class="icon_old"></i>TOP</em>
    </div>
</div>
<script src="http://res.sentsin.com/lay/lib/sea.js"></script>
<script>seajs.use('public');</script>
</body>
</html>

