<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<title>ThinkShop电子商务系统</title>
		<include file="Common:js"/>
	</head>
	<body>

<div class="wrap">
    <div class="menu_list">
        <ul>
            <li><a href="{:U('Article/index')}">文章列表</a></li>
            <li><a href="{:U('Article/add')}" class="action">添加文章</a></li>
        </ul>
    </div>
    <div class="title-header">添加文章</div>
    <form method="post" class="hd-form" action="{:U('Article/add')}" enctype="multipart/form-data">
        <table class="table1">
            <tr>
                <th class="w100">标题</th>
                <td>
                    <input type="text" name="title" class="w300" />
                </td>
            </tr>
            <tr>
                <th class="w100">分类</th>
                <td>
                    <select name="category_id" class="w200">
                         <option value="0">请选择</option>
                         <foreach name="cate" item="v">
                             <option value="{$v.id}">{:str_repeat("&nbsp;",$v['level'])}<if condition="$v['level']">├─ </if>{$v.name}</option>
                         </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="w100">缩略图</th>
                <td>
                    <input type="file" name="thumb" class="w300" />
                </td>
            </tr>
            <tr>
                <th class="w100">排序</th>
                <td>
                    <input type="text" name="sort" class="w300" />
                </td>
            </tr>
            <tr>
                <th class="w100">内容</th>
                <td>
                    <textarea name="content" id="content" class="w650 h450"></textarea>
                </td>
            </tr>
        </table>
        <div class="position-bottom">
            <input type="submit" value="确定" class="hd-success"/>
        </div>
    </form>
</div>


	</body>
</html>

<!-- 实例化编辑器代码 -->
<include file="Common:umeditor" />
<script type="text/javascript">
         $(function(){
             window.um = UM.getEditor('content', {
                 /* 传入配置参数,可配参数列表看umeditor.config.js */
                 toolbar: ['undo redo | bold italic underline | emotion image'],
                 imageUrl:"<?php echo U('Base/uploadDetailImg');?>",//php处理脚本
                 imagePath:'__ROOT__/',
                 focus: true,
                 enterTag:'br'
             });
         });
</script>
<!--//Umeditor编辑器-->