<script type='text/javascript' src='__PUBLIC__js/jquery.min.js'></script>
<link href='__PUBLIC__hdjs/css/hdjs.css' rel='stylesheet' media='screen'>
<link href='__PUBLIC__css/extend.css' rel='stylesheet' media='screen'>
<script src='__PUBLIC__hdjs/js/hdjs.js'></script>
<script src='__PUBLIC__hdjs/js/slide.js'></script>
<script src='__PUBLIC__hdjs/org/cal/lhgcalendar.min.js'></script>
<script type='text/javascript'>
		HOST = '__ROOT__/';
		ROOT = '__ROOT__/';
		WEB = '__ROOT__/';
		URL = 'http://localhost/hdcms/index.php?a=Admin';
</script>