        <link rel="shortcut icon" href="http://www.mi.com/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="http://www.mi.com/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="__PUBLIC__/css/base.min.css" />
        <script src="__PUBLIC__/js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.min.css" />
        <script type="text/javascript">
        /*<![CDATA[*/
        var isCategoryToggled = "toggled";
        var isSekillOpen = 1;
        var isCommentOpen = 1;
        /*]]>*/
        </script>    
        <script src="__PUBLIC__/js/xmsg_ti.js"></script>
        <!-- [扩展css,js] -->
        <link rel="stylesheet" href="__PUBLIC__/css/extend.css" />
        <script src="__PUBLIC__/js/extend.js"></script>