<!-- [顶部] -->
<div class="site-topbar">
    <div class="container">
        <div class="topbar-nav">
            <a href=""  >小麦网</a>
            <span class="sep">|</span><a href=""  target="_blank">MYUI</a>
            <span class="sep">|</span><a href=""  target="_blank">麦聊</a>
            <span class="sep">|</span><a href="javascript:void(0);"  class="J-modal-globalSites">Select region</a>
        </div>
        <div class="topbar-info J_userInfo">
            <a data-needlogin="true" href="">登录</a>
            <span class="sep">|</span>
            <a  href="https://account.xiaomi.com/pass/register">注册</a>
        </div>
    </div>
</div>
<!-- [//顶部] -->