<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<title>ThinkShop电子商务系统</title>
		<include file="Common:js"/>
	</head>
	<body>

<div class="wrap">
    <div class="menu_list">
        <ul>
            <li><a href="{:U('Comment/index')}" class="action">信息列表</a></li>
        
        </ul>
    </div>
    <table class="table2 hd-form">
        <thead>
        <tr>
            <td class="w30">编号</td>
            <td class="w200">昵称</td>
            <td class="w200">时间</td>
            <td class="w150">操作</td>
        </tr>
        </thead>
            <foreach name="list" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td>{:date("Y-m-d H:i:s",$v['addtime'])}</td>
                <td>
                    <a href="{:U('Comment/update',array('id'=>$v['id']))}">阅读</a> 
                    <span class="line">|</span> 
                    <a href="{:U('Comment/delete',array('id'=>$v['id']))}">删除</a>
                </td>
            </tr>
            </foreach>
            </table>
    <div class="page1">{$page}</div>
    <div class="h60"></div>
</div>
	</body>
</html>